services:
  gemini-api:
    shm_size: "2gb"
    mem_limit: 2g
    cpus: 2.0
    ulimits:
      nofile: 65535
      nproc: 4096
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "7860:7860"
    volumes:
      - ./data:/app/data
    env_file:
      - .env
    restart: unless-stopped

networks:
  default:
    driver: bridge
